<div class="page">
    <h1 class="page_title">Recognize</h1>
    <div class="group">
        <p class="group_title">I would like to recognize the following group:</p>
        <div class="group_wrapper">
            <a class="group_link" href="#">Doriana Green <span class="group_link_close">x</span></a>
            <a class="group_link" href="#">Gus Levy <span class="group_link_close">x</span></a>
            <a class="group_link" href="#">Jeremy Stevens <span class="group_link_close">x</span></a>
            <a class="group_link" href="#">Brenda Owen <span class="group_link_close">x</span></a>
            <a class="group_link" href="#">Michael LaRoche <span class="group_link_close">x</span></a>
            <a class="group_link" href="#">Jeanette Lincoln <span class="group_link_close">x</span></a>
        </div>
    </div>

    <div class="addUser">
        <a href="#" class="addUser_title">Add User</a>
        <p class="addUser_description">I’d like to recognize <a href="#" class="yellow">a group of colleagues</a> for the
            <a href="#" class="yellow">Peer-to-Pee</a></p>
        <div class="addUser_prop">
            <span class="addUser_prop_title">Criteria</span>
            <div class="dropholder">
                <div class="dropdown">
                    <p>Technikal Excellent</p>
                </div>
                <ul class="dropdownMenu">
                    <li>Not bad</li>
                    <li>Technikal Excellent</li>
                    <li>Ok it's good</li>
                    <li>Very Nice works</li>
                    <li>Wow how you did it</li>
                </ul>
            </div>
        </div>
        <div class="addUser_prop">
            <span class="addUser_prop_title">Points</span>
            <div class="dropholder">
                <div class="dropdown">
                    <p>50</p>
                </div>
                <ul class="dropdownMenu">
                    <li>100</li>
                    <li>200</li>
                    <li>300</li>
                    <li>400</li>
                    <li>600</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="message">
        <h2 class="message_title">Personal Message:</h2>
        <p class="message_descrition">I would like to thank each of you for your outstanding contribu ould like to thank
            each of you for your outstanding contribu ould like to thank each of you for your outstanding contribu</p>
    </div>

    <div class="card">
        <h2>E-card Preview:</h2>
        <div class="cardTabs">
            <div class="cardTabs_tabs">
                <div class="cardTabs_tab tab--1 active">
                    <div class="cardTabs_img">
                        <img src="img/cards/card.jpg" alt="card">
                    </div>
                    <div class="cardTabs_wrapper">
                        <h3 class="cardTabs_tab_title">Criteria: Technical Excellence I would like to thank each of
                        </h3>
                        <p class="cardTabs_tab_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Vero fugit rem ratione! Quod, ipsum quas! Officiis eaque nobis quae facere, quas doloremque
                            voluptate perferendis. Maiores hic magnam dolorum distinctio nemo.</p>
                        <span class="cardTabs_tab_autor">Anna Parker</span>
                        <span class="cardTabs_tab_date">Award Date 10/19/2015</span>
                    </div>
                </div>
                <div class="cardTabs_tab tab--2">
                    <div class="cardTabs_img">
                        <img src="img/cards/card.jpg" alt="card">
                    </div>
                    <div class="cardTabs_wrapper">
                        <h3 class="cardTabs_tab_title">Qual: dfdfdTechnical Excellence I would like to thank each of
                        </h3>
                        <p class="cardTabs_tab_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Vero fugit rem ratione! Quod, ipsum quas! Officiis eaque nobis quae facere, quas doloremque
                            voluptate perferendis. Maiores hic magnam dolorum distinctio nemo.</p>
                        <span class="cardTabs_tab_autor">Anna</span>
                        <span class="cardTabs_tab_date">Award Date 18/19/2015</span>
                    </div>
                </div>
                <div class="cardTabs_tab tab--3">
                    <div class="cardTabs_img">
                        <img src="img/cards/card.jpg" alt="card">
                    </div>
                    <div class="cardTabs_wrapper">
                        <h3 class="cardTabs_tab_title">Point:qwe Technical Excellence I would like to thank each of
                        </h3>
                        <p class="cardTabs_tab_description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Vero fugit rem ratione! Quod, ipsumistinctio nemo.</p>
                        <span class="cardTabs_tab_autor">Anna Parker</span>
                        <span class="cardTabs_tab_date">Award Date 10/19/2015</span>
                    </div>
                </div>
            </div>

            <div class="cardTabs_buttons">
                <div class="button" data-value="1"><img src="img/cards/card.jpg" alt="card"></div>
                <div class="button" data-value="2"><img src="img/cards/card.jpg" alt="card"></div>
                <div class="button" data-value="3"><img src="img/cards/card.jpg" alt="card"></div>
            </div>
        </div>
    </div>

    <div class="code">
        <div class="code_send">
            <button class="code_btn">Send Copy To:</button>
            <input class="code_input" type="text">
        </div>
        <button class="code_btn">Review Awards</button>
    </div>
</div>