<header class="header">
	<div class="container">
		<div class="header_top">
			<a class="header_top_logo" href="/">
				<img src="img/logo.png" alt="logo">
			</a>
			<div class="header_top_icons">
				<a class="header_top_link" href="#"><img src="img/icons/inbox.png" alt="inbox"></a>
				<a class="header_top_link" href="#"><img src="img/icons/approvals.png" alt="inbox"></a>
				<a class="header_top_link" href="#"><img src="img/icons/help.png" alt="inbox"></a>
			</div>
		</div>
		
		<nav class="header_menu">
			<a class="header_menu_link" href="#">Home</a>
			<a class="header_menu_link" href="#">Regognize</a>
			<a class="header_menu_link" href="#">Network</a>
			<a class="header_menu_link" href="#">Leaderboard</a>
			<a class="header_menu_link" href="#">Programs</a>
			<a class="header_menu_link" href="#">Activity</a>
		</nav>

		<div class="header_search">
			<span class="header_search_title">Recognize Someone Now</span>
			<input class="header_search_input" type="text"/>
		</div>
		
	</div>
</header>
