<aside class="sidebar">
    <div class="user">
        <div class="user_avatar">
            <img src="img/anna.png" alt="user">
        </div>
        <div class="user_data">
            <span class="user_data_name">Anna Parker</span>
            <p class="user_data_prof">Senior Director, Total Rewards</p>
        </div>
    </div>
    <div class="sidebar_item" style="background-image: url(img/bg_shop.png);">
        <span class="sidebar_item_title">Go Shopping</span>
        <div class="sidebar_item_data">            
            <span class="sidebar_item_data_number">1,124</span>
            <span class="sidebar_item_data_title">Shoping Points</span>            
        </div>
    </div>
    <div class="sidebar_item" style="background-image: url(img/bg_bud.png);">
        <span class="sidebar_item_title">My Budget</span>
        <div class="sidebar_item_data">            
            <span class="sidebar_item_data_number">1,944</span>
            <span class="sidebar_item_data_title">Points to Give</span>            
        </div>
    </div>
    <div class="sidebar_item" style="background-image: url(img/bg_bad.png);">
        <span class="sidebar_item_title">My Budget</span>
        <div class="sidebar_item_data">
            <div class="sidebar_item_data_img">
                <img src="img/icons/star.png" alt="star">
            </div>                        
        </div>
    </div>
    <div class="sidebar_item" style="background-image: url(img/bg_aw.png);">
        <span class="sidebar_item_title">My Awards</span>
        <div class="sidebar_item_data">
            <div class="sidebar_item_data_img">
                <img src="img/icons/cup.png" alt="cup">
            </div>                        
        </div>
    </div>
    <div class="sidebar_item" style="background-image: url(img/bg_quiz.png);">
        <span class="sidebar_item_title">Quizzes</span>
        <div class="sidebar_item_data">
            <div class="sidebar_item_data_img">
                <img src="img/icons/light.png" alt="light">
            </div>                        
        </div>
    </div>
    <div class="sidebar_item" style="background-image: url(img/bg_redeen.png);">
        <span class="sidebar_item_title">Redeem On_The_Spot Award</span>
        <input class="sidebar_item_input" type="text"/>
    </div>
</aside>